body {
  margin: 0;
  font-family: 'Baloo 2', cursive;
  text-align: center;
}

h1 {
  font-family: 'Mr Dafoe', cursive;
  font-weight: 100;
  font-size: 6rem;
  margin: 50px auto 0px auto;
  color: #94d3ac;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  line-height: 2;
  color: #94d3ac;
  margin: 25px auto 25px auto;
}

h3 {
  color: #94d3ac;
  margin: 0 auto 10px auto;
}

a {
  color: #94d3ac;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: bold;
}

a:hover{
  text-decoration: underline;
}

hr {
  border-style: none;
  border-top: 7px dotted #EAF6F6;
  /*************or alternative
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  ******************/
  width: 5%;
  margin: 100px auto;
}

p {
  line-height: 2;
}

.button {
  background: #CCEDD2;
  background-image: -webkit-linear-gradient(top, #CCEDD2, #94D3AC);
  background-image: -moz-linear-gradient(top, #CCEDD2, #94D3AC);
  background-image: -ms-linear-gradient(top, #CCEDD2, #94D3AC);
  background-image: -o-linear-gradient(top, #CCEDD2, #94D3AC);
  background-image: linear-gradient(to bottom, #CCEDD2, #94D3AC);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 10px 30px;
  box-shadow: 0px 5px 0px 0px #76A989;
  -webkit-box-shadow: 0px 5px 0px 0px #76A989;
  -moz-box-shadow: 0px 5px 0px 0px #76A989;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  background: #ccedd2;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

.top-container {
  background-color: #effcef;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #655c56;
}

.bottom-container p {
  color: #effcef;
  font-size: 0.75rem;
  padding: 20px 0;
  margin: 0;
}

.web {
  font-style: italic;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 270px;
}

.intro {
  width: 30%;
  margin: auto;
}

.profile-pic {
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.skill-row {
  width: 50%;
  margin: 75px auto 100px auto;
  text-align: left;
}

.skill-row p {
  margin: 0;
}

.skill-img {
  object-fit: cover;
  border-radius: 50%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.lang-img {
  object-fit: cover;
  border-radius: 50%;
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-me p {
  width: 50%;
  margin: 30px auto 40px;
}

.footer-link {
  display: inline-block;
  padding-top: 20px;
  margin: 10px 20px;
}

.footer-link:hover {
  color: #effcef;
}
